.body{
    margin: 0;
}
.navbar{
    background-color: green;
    padding: 20px;
    text-align: center;
}
.navbar a{
    color:white;
    font-size:20px ;
    padding: 10px 15px;
    text-decoration:none;
    cursor: pointer;
}
.navbar a:hover{
    background-color: red;
}
.Drowdown_main_container{
    display:inline;
    position: relative;
}
.inner_menu_dropdown{
position: absolute;
background-color: brown;
top: 30px;
right: 0;
text-align: left;
min-width: 100px;
display: none;
}
.inner_menu_dropdown a{
    display: block;
}
.inner_menu_dropdown a:hover{
    display: block;
    background-color: gray;
}
.Drowdown_main_container:hover .inner_menu_dropdown{
    display: block;
}
