.body{
    margin: 0;
}
.navbar{
    background-color: green;
    padding: 20px;
    text-align: center;
}
.navbar a{
    color:white;
    font-size:20px ;
    padding: 10px 15px;
    text-decoration:none;
    cursor: pointer;
}
.navbar a:hover{
    background-color: red;
}
.heading{
    color: brown;
    text-align:center ;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1em;
}



.col_grid{
    background-color:gray;
    padding: 1em;
    color: white;
}
.coures{
    
    text-align:left;
    }
.row1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }  
    
.col_grid1{
        background-color:blueviolet;
        padding: 1em;
        color: white;
    }
